@use '@alittlemoron/design-system/styles/theme-tokens';
@use '@alittlemoron/design-system/styles/bootstrap-overrides';
@use '@alittlemoron/design-system/styles/cdk-overlay';
@use '@alittlemoron/design-system/styles/ui';
@use '@alittlemoron/design-system/styles/markdown';

html {
  min-width: 20rem;
  background: var(--background-body);
}

body {
  margin: 0;
  color: var(--text-primary);
}

button,
input {
  font: inherit;
}
